node_modules
npm-debug.log
dist
storage/debugbar
storage/*.log
storage/framework/cache
docker-compose.override.yml
.env
.git
.gitignore
.idea
.vscode
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.log
coverage
bootstrap/cache/*.php
