/* Base */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Components */
@import 'components/button';
@import 'components/form';

/* Utilities */
@import 'tailwindcss/utilities';

/* Global CSS */
table th {
  text-align: left;
}
html[dir="rtl"] table th {
  text-align: right;
}
